* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header {
	height: 50px;
	display: flex;
	justify-content: space-around;
	padding-right: 30px;
	border: solid 1px black;
	margin-bottom: 21px;
	align-items: center;
}


.button {
	height: 30px;
	border-radius: 15px;
	padding: 0 15px;
	background-color: white;
	align-self: flex-end;
}

.cart-button {
	align-self: center;
	color: black;
	border: solid 2px black;
}

.container {
	margin: 0 auto;
	width: 90%;
}

.goods-list {
	display: flex;
	flex-wrap: wrap;
}

.goods-item {
	margin-left: 21px;
	width: 15%;
	border: solid 1px;
	padding: 10px;
	margin-bottom: 21px;
	display: flex;
	flex-direction: column;
}

.goods-img {
	width: 100%;
}

.goods-head {
	margin: 15px 0;
}

.cart_item {
	display: flex;
	border: solid 1px;
	border-color: red;
	margin: 10px 0 0 0;
	padding: 0 10px;
	align-items: center;
	justify-content: space-between;
}

.butChange {
	width: 50px;
	padding: 0 20px;
}